@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
  font-family: "Open Sans", sans-serif;
}

/* styling for headings */
.header {
  font-size: 24px;
  color: #4A556D;
}

.subheader {
  font-size: 18px;
}

/* styling which applies to each component */
.component {
  max-width: 800px;
  margin-top: 10px;
}